pre.highlight, .highlight pre {
  color: #fff; background-color: #111;
  box-shadow: 10px 10px 2px #666;

  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}
.highlight .hll { background-color: #222 }
.highlight .err { color: #960050; background-color: #1e0010 } /* Error */
.highlight .k,  /* Keyword */
.highlight .kc, /* Keyword.Constant */
.highlight .kd, /* Keyword.Declaration */
.highlight .kp, /* Keyword.Pseudo */
.highlight .kr, /* Keyword.Reserved */
.highlight .kt { color: #66d9ef } /* Keyword.Type */

.highlight .l { color: #ae81ff } /* Literal */

.highlight .o, /* Operator */
.highlight .kn { color: #f92672 } /* Keyword.Namespace */

.highlight .n, /* Name */
.highlight .p, /* Punctuation */
.highlight .w { color: #fff } /* Text.Whitespace */

.highlight .c,  /* Comment */
.highlight .cm, /* Comment.Multiline */
.highlight .cp, /* Comment.Preproc */
.highlight .c1, /* Comment.Single */
.highlight .cs { color: #777 } /* Comment.Special */

.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gs { font-weight: bold } /* Generic.Strong */

.highlight .ld { color: #e6db74 } /* Literal.Date */
.highlight .m { color: #ae81ff } /* Literal.Number */
.highlight .s { color: #e6db74 } /* Literal.String */
.highlight .na { color: #a6e22e } /* Name.Attribute */
.highlight .nb { color: #fff } /* Name.Builtin */
.highlight .nc { color: #a6e22e } /* Name.Class */
.highlight .no { color: #66d9ef } /* Name.Constant */
.highlight .nd { color: #a6e22e } /* Name.Decorator */
.highlight .ni { color: #fff } /* Name.Entity */
.highlight .ne { color: #a6e22e } /* Name.Exception */
.highlight .nf { color: #a6e22e } /* Name.Function */
.highlight .nl { color: #fff } /* Name.Label */
.highlight .nn { color: #fff } /* Name.Namespace */
.highlight .nx { color: #a6e22e } /* Name.Other */
.highlight .py { color: #fff } /* Name.Property */
.highlight .nt { color: #f92672 } /* Name.Tag */
.highlight .nv { color: #fff } /* Name.Variable */
.highlight .ow { color: #f92672 } /* Operator.Word */

.highlight .mf, /* Literal.Number.Float */
.highlight .mh, /* Literal.Number.Hex */
.highlight .mi, /* Literal.Number.Integer */
.highlight .il, /* Literal.Number.Integer.Long */
.highlight .mo { color: #ae81ff } /* Literal.Number.Oct */

.highlight .se { color: #ae81ff } /* Literal.String.Escape */

.highlight .sb, /* Literal.String.Backtick */
.highlight .sc, /* Literal.String.Char */
.highlight .sd, /* Literal.String.Doc */
.highlight .s2, /* Literal.String.Double */
.highlight .sh, /* Literal.String.Heredoc */
.highlight .si, /* Literal.String.Interpol */
.highlight .sx, /* Literal.String.Other */
.highlight .sr, /* Literal.String.Regex */
.highlight .s1 { color: #e6db74 } /* Literal.String.Single */
.highlight .ss { color: #7EE } /* Literal.String.Symbol */
.highlight .bp, /* Name.Builtin.Pseudo */
.highlight .vc, /* Name.Variable.Class */
.highlight .vg, /* Name.Variable.Global */
.highlight .vi { color: #fff } /* Name.Variable.Instance */

.highlight .gh {} /* Generic Heading & Diff Header */
.highlight .gu { color: #777 } /* Generic.Subheading & Diff Unified/Comment? */
.highlight .gd { color: #f92672 } /* Generic.Deleted & Diff Deleted */
.highlight .gi { color: #a6e22e } /* Generic.Inserted & Diff Inserted */