.highlight {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;

  color: #fff;
  background-color: #111;
  box-shadow: 10px 10px 2px #666;

  .hll { background-color: #222 }
  .err { color: #960050; background-color: #1e0010 } /* Error */
  .gh {} /* Generic Heading & Diff Header */
  .ge { font-style: italic } /* Generic.Emph */
  .gs { font-weight: bold } /* Generic.Strong */

  .p,  /* Punctuation */
  .k,  /* Keyword */
  .kc, /* Keyword.Constant */
  .kd, /* Keyword.Declaration */
  .kp, /* Keyword.Pseudo */
  .kr, /* Keyword.Reserved */
  .kt, /* Keyword.Type */
  .nb, /* Name.Builtin */
  .nc, /* Name.Class */
  .no { color: #66d9ef } /* Name.Constant */

  .l,  /* Literal */
  .m,  /* Literal.Number */
  .mf, /* Literal.Number.Float */
  .mh, /* Literal.Number.Hex */
  .mi, /* Literal.Number.Integer */
  .il, /* Literal.Number.Integer.Long */
  .mo, /* Literal.Number.Oct */
  .se { color: #ae81ff } /* Literal.String.Escape */

  .o,  /* Operator */
  .ow, /* Operator.Word */
  .kn, /* Keyword.Namespace */
  .nt, /* Name.Tag */
  .vg, /* Name.Variable.Global */
  .gd { color: #f92672 } /* Generic.Deleted & Diff Deleted */

  .w,  /* Text.Whitespace */
  .n,  /* Name */
  .bp, /* Name.Builtin.Pseudo */
  .ni, /* Name.Entity */
  .nl, /* Name.Label */
  .nn, /* Name.Namespace */
  .py, /* Name.Property */
  .nv, /* Name.Variable */
  .vc { color: #fff } /* Name.Variable.Class */

  .vi { color: #f08 } /* Name.Variable.Instance */

  .c,  /* Comment */
  .cm, /* Comment.Multiline */
  .cp, /* Comment.Preproc */
  .c1, /* Comment.Single */
  .cs, /* Comment.Special */
  .gu { color: #777 } /* Generic.Subheading & Diff Unified/Comment? */

  .na, /* Name.Attribute */
  .nd, /* Name.Decorator */
  .ne, /* Name.Exception */
  .nf, /* Name.Function */
  .nx, /* Name.Other */
  .gi { color: #a6e22e } /* Generic.Inserted & Diff Inserted */

  .s,  /* Literal.String */
  .ld, /* Literal.Date */
  .sb, /* Literal.String.Backtick */
  .sc, /* Literal.String.Char */
  .sd, /* Literal.String.Doc */
  .s2, /* Literal.String.Double */
  .sh, /* Literal.String.Heredoc */
  .si, /* Literal.String.Interpol */
  .sx, /* Literal.String.Other */
  .sr, /* Literal.String.Regex */
  .s1 { color: #e6db74 } /* Literal.String.Single */

  .ss { color: #ff0 } /* Literal.String.Symbol */
}