// CSS theme

$nav-color:       #505050;
$nav-small-color: #C0C0C0;

$post-title-color: #303030;
$post-date-color:  #9a9a9a;

$headings-color: #313131;

$strong-color: #303030;

$pre-background-color: #f9f9f9;

$blockquote-color:        #7a7a7a;
$blockquote-border-color: #e5e5e5;

$table-border-color:         #e5e5e5;
$table-odd-background-color: #f9f9f9;