---
---

@import "monokai.scss";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:   20px;
  line-height: 1.5;
}

body {
  color: #333;
}

// Links

a {
  color: #268bd2;
  text-decoration: none;

  strong {
    color: inherit;
  }

  &:hover, &:focus {
    text-decoration: underline;
  }
}

// Headings

h1, h2, h3, h4, h5, h6 {
  margin-bottom:  .5rem;
  font-weight:    bold;
  line-height:    1.25;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 1rem;
  font-size: 1.5rem;
}

h3 {
  margin-top: 1.5rem;
  font-size: 1.25rem;
}

h4, h5, h6 {
  margin-top: 1rem;
  font-size: 1rem;
}

// Body text

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

// Lists

ul, ol, dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

dt {
  font-weight: bold;
}

dd {
  margin-bottom: .5rem;
}

// Code

code {
  font-size: 85%;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  margin-right: -2rem;
  margin-left: -2rem;
  padding: 1rem 2rem;
  border-radius: 8px;
  font-size: .8rem;
  line-height: 1.4;
  background-color: #f9f9f9;

  code {
    padding: 0;
    font-size: 100%;
    color: inherit;
    background-color: transparent;
  }
}

// Quotes

blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #7a7a7a;
  border-left: .25rem solid #e5e5e5;

  p:last-child {
    margin-bottom: 0;
  }
}

img {
  max-width: 100%;
  margin: 0 0 1rem;
  border-radius: 5px;
  vertical-align: text-top;
}

// Tables

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #e5e5e5;
  border-collapse: collapse;

  td, th {
    padding: .25rem .5rem;
    border: 1px solid #e5e5e5;
  }

  tr:nth-child(odd) td, tr:nth-child(odd) th {
    background-color: #f9f9f9;
  }
}

// Container

.container {
  max-width: 38rem;
  padding-left:  1rem;
  padding-right: 1rem;
  margin-left:  auto;
  margin-right: auto;
}

// Nav

.nav {
  padding-top:    1rem;
  padding-bottom: 1rem;
  margin-bottom:  1rem;

  .nav-title {
    margin-top: 0;
    margin-bottom: 0;

    a {
      margin-right: 20px;
      color: inherit;
    }

    small {
      font-size: 75%;
      font-weight: 400;
      letter-spacing: 0;
    }
  }
}

// Posts

.post {
  margin-bottom: 4em;

  .post-title {
    margin-top: 0;
  }

  // Meta data line below post title
  .post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
  }
}

.post-date {
  color: #9a9a9a;
}

// Split

.split { display: table-row; }
.split>div { display: table-cell; }