---
---

@import "highlight.scss";

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size:   20px;
  line-height: 1.5;
}

body {
  max-width: 38rem;
  margin:    auto;
}

header {
  font-size:     1.25rem;
  line-height:   1.25;
  padding:       1rem 0;
  margin-bottom: 1rem;

  a {
    margin-right: 20px;
    color: inherit;
  }
}

// Links

a {
  color: #268bd2;
  text-decoration: none;
  strong { color: inherit }
  &:hover, &:focus { text-decoration: underline }
}

// Headings

h1, h2, h3, h4, h5, h6 {
  margin:         0 0 .5rem;
  line-height:    1.25;
  text-rendering: optimizeLegibility;
}

h1 { font-size: 2rem }
h2 { font-size: 1.5rem }
h3 { font-size: 1.25rem }
h4, h5, h6 { font-size: 1rem }

// Body text

p { margin-top: 0 }

// Lists

li + li { margin-top: 4px }

// Code

code {
  font: 16px Consolas, monospace;
  background-color: #eee;
  padding: 3px;
  border-radius: 3px;
}

pre code {
  padding: 0;
  background-color: transparent;
}

// Quotes

blockquote {
  padding: .5rem 1rem;
  margin:  .8rem 0;
  color: #777;
  border-left: .25rem solid #ddd;
  border-radius: 20px;
  p:last-child { margin-bottom: 0 }
}

// Kbd

kbd {
  display: inline-block;
  padding: 3px;
  font: 12px Consolas, monospace;
  vertical-align: middle;
  background-color: #eef;
  border: solid 1px #ccc;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
}

// Image

img {
  max-width: 100%;
  border-radius: 5px;
}

// Tables

table {
  margin-bottom: 1rem;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: collapse;

  td, th {
    padding: .25rem .5rem;
    border: 1px solid #ddd;
  }

  tr:nth-child(odd) td, tr:nth-child(odd) th { background-color: #f9f9f9 }
}

// Info

.info {
  font-size: 16px;
  text-align: right;
  float: right;
  margin: 0;
}

// Split

.split { display: table }
.split>div { display: table-cell }