---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="apple-touch-icon" href="apple-touch-icon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
  <a href="/">
    <svg style="float:left;margin-right:10px;border-radius:5px;background-color:#f0f0f0" viewBox="0 0 84 84" width="32" height="32">
      <polygon fill="#d56a62" points="7,7 21,7 21,21 63,21 63,7 77,7 77,77 63,77 63,63 49,63 49,77 35,77 35,63 21,63 21,77 7,77"/>
      <rect x="35" y="35" width="14" height="14" fill="#f0f0f0"/>
    </svg>
    {{ site.title }}</a>
  <a href="archive">Archive</a>
  <a href="links">Links</a>
  <a href="{{ site.github.owner_url }}">GitHub</a>
</header>

<div>
  {% include page_info.html %}
  {{ content }}
</div>

</body>
</html>