---
layout: compress
---

<!DOCTYPE html>
<html lang="en-us">

<head>
  <meta charset="utf-8">
  {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel="icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>

<header>
  <a href="/">
    <svg width="28" height="28" style="float:left;margin-right:8px;border-radius:4px;shape-rendering:crispedges;background-color:#f0f0f0">
      <polygon fill="#d56a62" points="4,4 8,4 8,8 20,8 20,4 24,4 24,24 20,24 20,20 16,20 16,24 12,24 12,20 8,20 8,24 4,24"/>
      <rect x="12" y="12" width="4" height="4" fill="#f0f0f0"/>
    </svg>
  <b>{{ site.title }}</b></a>
  <a href="archive"><small>Archive</small></a>
  <a href="links"><small>Links</small></a>
  <a href="{{ site.github.owner_url }}"><small>GitHub</small></a>
</header>

<div>
  {% include page_info.html %}
  {{ content }}
</div>

</body>
</html>