---
layout: compress
---

<!DOCTYPE html>
<html lang=en-us>

<head>
  <meta charset=utf-8>
  <meta name=viewport content=width=792>
  {% if page.description %}<meta name=description content="{{ page.description }}">{% endif %}
  <title>{% if page.title %}{{ page.title }} - {% endif %}{{ site.title }}</title>
  <link rel=icon type=image/png href=/favicon.png>
  <link rel=stylesheet href=/css/style.css>
</head>

<body>

<header>
  <a href=/>
    <svg style="float:left;margin-right:10px;border-radius:5px;background-color:#f0f0f0" viewBox="0 0 12 12" width="32">
      <path fill="#d56a62" d="M1 1h2v2h6V1h2v10H9V9H7v2H5V9H3v2H1m4-6v2h2V5"/>
    </svg>
    {{ site.title }}</a>
  <a href=/archive>Archive</a>
  <a href=/links>Links</a>
  <a href=https://twitter.com/{{ site.github.owner_name }}>Twitter</a>
  <a href={{ site.github.owner_url }}>GitHub</a>
</header>

{% include page_info.html %}
{{ content }}

</body>
</html>